.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.content_repos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.repos_single{
    border-radius: 8px;
    width: 31.5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link_repo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
    padding: 30px;
    text-decoration: none;
    height: 100%;
    transition: all .5s;
}

.link_repo:hover{
    box-shadow: 0 0 10px 2px #b8b8b8;
}

.name_repo{
    word-wrap: break-word;
    color: #000;
}

.name_repo, .desc_repo, .stars_repo{
    padding-bottom: 20px;
}

.desc_repo, .stars_repo, .att_repo{
    font-weight: 100;
    color: #545454;
}

.desc_repo span, .att_repo span{
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.pagination{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 100px 0;
    align-items: center;
}

.btn_pagination{
    transition: all .5s;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(113, 141, 253);
    border: none;
    color: #fff;
}

.btn_pagination:hover{
    background-color: rgb(71, 108, 255);
}

.btn_pagination:disabled{
    background-color: #b8b8b8;
    cursor: not-allowed;
}

.filters{
    margin: 10px 0 30px 0;
    display: flex;
    width: 500px;
    box-shadow: 0 0 3px 1px #ddd;
}

.filters button{
    border: none;
    background-color: #eee;
    cursor: pointer !important;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    transition: all .3s;
    border: 1px solid #eee;
}

.filters button:hover{
    background-color: #fff;
    color: #000;
}

.button_active{
    background-color: #fff !important;
    color: #000;
}

.button_disable{
    color: #848484;
    background-color: #eee;
}

.filter_text{
    font-size: 18px;
}

.icon_title{
    display: flex;
    justify-content: space-between;
}

.btn_favorite{
    background-color: rgb(0, 165, 66);
    color: #fff;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 0 8px 8px;
    transition: all .3s;
}

.btn_favorite:hover{
    background-color: rgb(0, 196, 26);
}

@media (width < 1280px) {
    .content_repos{
        flex-direction: column;
        align-items: center;
    }

    .repos_single{
        width: 300px;
    }
}

@media (width < 800px){
    .filters{
        width: 300px;
    }

    .filters button{
        padding: 5px;
        font-size: 14px;
    }
}