.header{
    position: fixed;
    z-index: 9;
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 1px #ddd;
    background-color: #fff;
}

.logo h1{
    font-weight: 100;
}